{% extends 'girekstudio/index_girekstudio.html' %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="facebook-domain-verification" content=""/>
    <meta property="fb:app_id" content=" "/>
    <meta property="og:url" content="https://www.girekstudio.com/servicios/{{ servicio.id }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ servicio.titulo }}"/>
    <meta property="og:description" content="{{ marca.mision|safe|truncatechars:"60" }}"/>
    <meta property="og:image" content="https://www.girekstudio.com/media/{{ servicio.imagen }}"/>
    <meta property="og:image:secure_url" content="https://www.girekstudio.com/media/{{ servicio.imagen  }}"/>
{% endblock %}

{% block menu %}
    <li>
        <a href="/">
            Inicio
        </a>
    </li>
    <li>
        <a  href="/girekstudio/estudio/">
            Estudio
        </a>
    </li>
    <li>
        <a class="nav-link active"  href="/girekstudio/servicios/">
            Servicios
        </a>
    </li>
    <li>
        <a href="/girekstudio/portafolio/">
            Portafolio
        </a>
    </li>
    <li>
        <a href="/girekstudio/tienda/">
            Productos
        </a>
    </li>

    <li>
        <a href=/girekstudio/contacto/">
            Contacto
        </a>
    </li>

{% endblock %}
{% block principal %}
    <div role="main" class="main">


        <section class="section custom-bg-color-light-1 border-0 pt-5 m-0">

            <div class="container position-relative z-index-1 pt-5 mt-5">
                <div class="custom-circle custom-circle-wrapper custom-circle-big custom-circle-pos-1 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="900" data-appear-animation-duration="2s">
                <div class="bg-color-tertiary rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.5, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-2 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="1450" data-appear-animation-duration="2s">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'transition': true, 'transitionDuration': 2000}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-3 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="1300">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-small custom-circle-pos-4 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="1600">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.6, 'transition': true, 'transitionDuration': 500}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-5 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="1050" data-appear-animation-duration="2s">
                    <div class="bg-color-secondary rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 2000}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-6 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="1200" data-appear-animation-duration="2s">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.8, 'transition': true, 'transitionDuration': 500}"></div>
                </div>
                <div class="custom-circle custom-circle-small custom-circle-pos-7 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="1700">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-8 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="1350" data-appear-animation-duration="2s">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.5, 'transition': true, 'transitionDuration': 500}"></div>
                </div>

                <div class="row align-items-center pt-4">
                    <div class="col-md-5 pb-5 mb-md-5">
                        <div>
                            <div  class="col-md-12" >
                                <h1 class="text-color-dark font-weight-bold text-10 mb-3 ">{{ servicio.titulo }}</h1>
                                <p class="custom-text-color-grey-1 text-4 mb-4 " >{{ servicio.sub_titulo }}</p>
                                <a class="btn btn-gradient btn-rounded font-weight-semibold px-5 py-3 text-3 mb-md-5 " href="https://api.whatsapp.com/send?phone=593{{ contacto.whatsapp }}&text=Hola%20GirekStudio%20me%20interesa%20este%20servicio%20{{ servicio.titulo }}" target="_blank" rel="noopener"> &nbsp Escribenos al WhatsApp</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 pb-5">
                                <img alt="" class="img-fluid position-relative z-index-1 pb-5 mb-5 ml-5 top-10" src="/media/{{ servicio.imagen }}" >
                    </div>
                </div>
            </div>
        </section>

        <section class="section position-relative bg-color-light border-0 m-0" style="margin: 0px!important;padding: 0px!important;">


            <svg class="custom-section-curved-top-1" width="100%" height="600px" xmlns="http://www.w3.org/2000/svg">
                <path id="svg_1" d="m-12.66406,442.40068c352.72654,-76.36348 565.45337,5.45453 696.36219,19.99996c130.90882,14.54542 270.90852,-23.63632 367.27196,-47.27263c96.36344,-23.63631 379.99921,-154.54513 527.27163,-209.09047c147.27242,-54.54535 381.813,-92.55755 406.36076,-99.00598c12.27388,-3.22421 917.96684,-113.93032 715.00991,10.61478c-202.95693,124.5451 -210.46055,521.28714 -198.64021,540.29354c11.82034,19.0064 -2500.90899,-15.53962 -2500.0019,-16.36399c-0.90709,0.82437 -9.99798,-180.99343 -9.09089,-181.8178" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#f7f8f9"/>
                <path id="svg_2" d="m-116.90461,507.88064c314.5448,-112.72704 523.63527,-21.81814 878.17999,12.72724c354.54471,34.54538 632.72595,-225.45407 978.17978,-294.54484c172.72691,-34.54538 291.36195,-62.7275 368.52007,-78.40952c77.15812,-15.68202 352.84215,-22.50036 359.66142,-7.04537c13.63854,30.90997 97.72734,614.54347 50.90961,639.99858c-46.81772,25.4551 -855.68236,4.54593 -1433.63569,1.81866c-577.95334,-2.72727 -1155.90718,-5.45466 -1155.45364,-5.45491" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fbfcfc"/>
                <path id="svg_3" d="m-115.93584,623.27542c234.54496,-132.72699 429.09001,-112.72703 678.1804,-83.63619c249.09039,29.09085 389.09011,30.90903 656.36228,-107.2725c267.27217,-138.18153 816.36193,-207.2723 1121.81584,-170.90873c305.45391,36.36356 -292.72666,-19.99996 -293.63778,-18.18228c71.36548,8.18218 627.05432,68.63506 626.48637,265.22584c-0.56794,196.59079 -20.11364,456.59134 -31.02284,531.13767c-10.90919,74.54633 -1561.82313,-36.3646 -1565.45948,-34.54642c-3.63636,1.81818 -1249.08831,-1.81818 -1248.18122,-1.81869c-0.90709,0.00051 39.09282,-234.54445 39.99992,-234.54496c-0.9071,0.00051 -4.54345,-76.36297 -3.63636,-76.36348" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff"/>
            </svg>
        </section>

        <section class="section position-relative bg-color-light border-0 m-0">
            <div class="container position-relative  z-index-3 pb-lg-5 mb-lg-3">
                <div class="custom-circle custom-circle-medium custom-circle-pos-9 d-none d-md-block">
                    <div class="bg-color-secondary rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-big custom-circle-pos-10 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="1850" data-appear-animation-duration="2s">
                    <div class="bg-color-tertiary rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 3, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-11 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="2000" data-appear-animation-duration="2s">
                    <div class="custom-bg-color-grey-1 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-small custom-circle-pos-12 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="2150" data-appear-animation-duration="2s">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-extra-small custom-circle-pos-13 appear-animation" data-appear-animation="expandInWithBlur" data-appear-animation-delay="2300" data-appear-animation-duration="2s">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>

                <div class="row align-items-center" >
                    <div class="col-lg-6 " >

                        <div class="feature-box">
                            <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-secondary top-0">
                                <i class="fas fa-{{ servicio.info_1_icono }} position-relative left-1"></i>
                            </div>
                            <div class="feature-box-info mb-4 pb-3">
                                <h4 class="font-weight-bold line-height-3 custom-font-size-1 mb-1">{{ servicio.info_1_titulo }}</h4>
                                <p class="mb-0">{{ servicio.info_1_descripcion }}</p>
                            </div>
                        </div>
                        <br>

                        <div class="feature-box">
                            <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-tertiary top-0">
                                <i class="fas fa-{{ servicio.info_2_icono }} position-relative top-2 right-1"></i>
                            </div>
                            <div class="feature-box-info mb-4 pb-3">
                                <h4 class="font-weight-bold line-height-3 custom-font-size-1 mb-1">{{ servicio.info_2_titulo}}</h4>
                                <p class="mb-0">{{ servicio.info_2_descripcion }}</p>
                            </div>
                        </div>
                        <br>

                        <div class="feature-box">
                            <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-primary top-0">
                                <i class="fas fa-{{ servicio.info_3_icono }} position-relative top-2 right-1"></i>
                            </div>
                            <div class="feature-box-info mb-4 pb-3">
                                <h4 class="font-weight-bold line-height-3 custom-font-size-1 mb-1">{{ servicio.info_3_titulo }}</h4>
                                <p class="mb-0">{{ servicio.info_3_descripcion }}</p>
                            </div>
                        </div>
                        <br>

                    </div>

                    <div class="col-lg-6 ">

                        <div class="feature-box">
                            <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-secondary top-0">
                                <i class="fas fa-{{ servicio.info_4_icono }} position-relative left-1"></i>
                            </div>
                            <div class="feature-box-info mb-4 pb-3">
                                <h4 class="font-weight-bold line-height-3 custom-font-size-1 mb-1">{{ servicio.info_4_titulo }}</h4>
                                <p class="mb-0">{{ servicio.info_4_descripcion }}</p>
                            </div>
                        </div>
                        <br>

                        <div class="feature-box">
                            <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-tertiary top-0">
                                <i class="fas fa-{{ servicio.info_5_icono }} position-relative top-2 right-1"></i>
                            </div>
                            <div class="feature-box-info mb-4 pb-3">
                                <h4 class="font-weight-bold line-height-3 custom-font-size-1 mb-1">{{ servicio.info_5_titulo}}</h4>
                                <p class="mb-0">{{ servicio.info_5_descripcion }}</p>
                            </div>
                        </div>
                        <br>

                        <div class="feature-box">
                            <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-primary top-0">
                                <i class="fas fa-{{ servicio.info_6_icono }} position-relative top-2 right-1"></i>
                            </div>
                            <div class="feature-box-info mb-4 pb-3">
                                <h4 class="font-weight-bold line-height-3 custom-font-size-1 mb-1">{{ servicio.info_6_titulo }}</h4>
                                <p class="mb-0">{{ servicio.info_6_descripcion }}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </section>

        <section class="section custom-bg-color-light-2 position-relative border-0 pt-4 m-0">
            <svg class="custom-section-curved-top-2" width="100%" height="298" xmlns="http://www.w3.org/2000/svg">
                <path id="svg_3" d="m-79.33393,-38.33344c20.00001,16.00001 346.66686,448.00024 826.66712,236.00013c240.00013,-106.00006 647.58388,-25.45831 786.45913,6.2709c138.87524,31.72921 295.36054,26.21434 359.54203,2.72919c64.18149,-23.48515 718.67317,-158.11072 742.33982,-143.77728c214.66852,222.83259 61.00168,333.66623 77.22357,376.2222c16.22188,42.55598 -2796.23167,-33.44489 -2795.56445,-33.77815c-0.33361,0.16663 -0.83375,-98.08344 -1.16708,-196.41683c-0.33334,-98.33338 -0.49987,-196.75009 -0.16626,-196.91671" stroke-width="0" stroke="#000" fill="#eff1f3"/>
            </svg>
            <div class="container position-relative z-index-1 mt-3 mb-5">
                <div class="custom-circle custom-circle-small custom-circle-pos-14">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'horizontal': true, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-extra-small custom-circle-pos-15">
                    <div class="custom-bg-color-grey-2 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'horizontal': true, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="custom-circle custom-circle-medium custom-circle-pos-16">
                    <div class="custom-bg-color-grey-1 rounded-circle w-100 h-100" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'horizontal': true, 'transition': true, 'transitionDuration': 1000}"></div>
                </div>
                <div class="row text-center align-items-center pb-4 pt-lg-4 mb-3 mb-lg-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">

                </div>
                <div class="row pb-2 mb-4">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-md-10 col-lg-8 text-center">
                        <div class="overflow-hidden">
                            <span class="d-block appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">TABLA DE CONTENIDOS</span>
                        </div>
                        <div class="overflow-hidden mb-2">
                            <h2 class="font-weight-bold text-color-quaternary text-7 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Planes Ideales para ti!</h2>
                        </div>
                    </div>
                </div>
                <div class="row pricing-table custom-pricing-table-style-1 justify-content-center mb-4">
                    {% for plan in planes %}
                        <div class="col-md-8 col-lg-4">
                            {% if plan.activo %}
                                <div class="plan plan-featured bg-color-quaternary text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                                    <span class="plan-popular-tag text-color-light font-weight-bold">TOP</span>
                                    <div class="plan-header bg-color-quaternary pt-5 px-4">
                                        <h2 class="text-color-light font-weight-bold  mt-4 mb-2">{{ plan.titulo }}</h2>
                                        <h1 class="text-color-light font-weight-bold  mt-4 mb-2"><strong>${{ plan.precio }}</strong></h1>
                                        <p class="text-color-light font-weight-light opacity-6 px-2 mb-0">{{ plan.detalle }}</p>
                                    </div>
                                    <div class="plan-features px-4">
                                        <ul>
                                            {% if plan.info_1 %}
                                            <li class="text-color-light">{{ plan.info_1 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_2 %}
                                            <li class="text-color-light">{{ plan.info_2 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_3 %}
                                            <li class="text-color-light">{{ plan.info_3 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_4 %}
                                            <li class="text-color-light">{{ plan.info_4 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_4 %}
                                            <li class="text-color-light">{{ plan.info_4 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_5 %}
                                            <li class="text-color-light">{{ plan.info_5 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_6 %}
                                            <li class="text-color-light">{{ plan.info_6 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_7 %}
                                            <li class="text-color-light">{{ plan.info_7 }}</li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="plan-footer pt-3 pb-5">
                                        <a class="btn btn-light-2 btn-outline btn-rounded font-weight-semibold px-5 py-3 text-3 mb-4" href="https://api.whatsapp.com/send?phone=593{{ marca.whatsapp }}&text=Hola%20GirekStudioe%20deseo%20adquirir%20el%20{{ plan.titulo }}%20de%20{{ plan.categoria  }}"
                                           target="_blank" rel="noopener"> &nbsp;Adquirir!
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="plan text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="620">
                                    <div class="plan-header bg-color-light pt-5 px-4">
                                        <h2 class="text-color-dark font-weight-bold  mt-4 mb-2">{{ plan.titulo }}</h2>
                                        <h1 class="text-color-dark font-weight-bold  mt-4 mb-2"><strong>${{ plan.precio }}</strong></h1>
                                        <p class="px-2 mb-0">{{ plan.detalle }} </p>
                                    </div>
                                    <div class="plan-features px-4">
                                        <ul>
                                            {% if plan.info_1 %}
                                            <li class="text-color-black">{{ plan.info_1 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_2 %}
                                            <li class="text-color-black">{{ plan.info_2 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_3 %}
                                            <li class="text-color-black">{{ plan.info_3 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_4 %}
                                            <li class="text-color-black">{{ plan.info_4 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_4 %}
                                            <li class="text-color-black">{{ plan.info_4 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_5 %}
                                            <li class="text-color-black">{{ plan.info_5 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_6 %}
                                            <li class="text-color-black">{{ plan.info_6 }}</li>
                                            {% else %}
                                            {% endif %}

                                            {% if plan.info_7 %}
                                            <li class="text-color-black">{{ plan.info_7 }}</li>
                                            {% else %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="plan-footer pt-3 pb-5" >
                                        <a class="btn btn-secondary btn-outline btn-rounded font-weight-semibold px-5 py-3 text-3 mb-4" href="https://api.whatsapp.com/send?phone=593{{ marca.whatsapp }}&text=Hola%20GirekStudioe%20deseo%20adquirir%20el%20{{ plan.titulo }}%20de%20{{ plan.categoria }}"
                                           target="_blank" rel="noopener"> &nbsp;Adquirir!
                                        </a>

                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>



        <section class="section section-height-3 bg-color-quaternary position-relative border-0 m-0">
        </section>
    </div>
{% endblock %}

