{% extends 'vortice/index_vortice.html' %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="facebook-domain-verification" content="v7w5s5xba8nz4dq0bofm3ijfpe59w5"/>
    <meta property="fb:app_id" content="926164441218858"/>
    <meta property="og:url" content="https://www.grupo-benitez.com/vortice/producto_detalle/{{ products.id }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ products.titulo }}"/>
    <meta property="og:description" content="{{ products.descripcion }}"/>
    <meta property="og:image" content="https://www.grupo-benitez.com/media/vortice/{{ products.imagen }}"/>
    <meta property="og:image:secure_url" content="https://www.grupo-benitez.com/media/{{ products.wallpapers }}"/>


{% endblock %}
{% block principal %}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/vortice/">Inicio</a></li>
                    <li>
                        <a href="/vortice/seccion/{{ products.prenda.coleccion.seccion.seccion }}"> {{ products.prenda.coleccion.seccion.seccion }} </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0" style="background-image: url(/media/{{ vortice.imagen_fondo }}) !important; }">
            <div class="container">
                <div class="row prd-block prd-block--mobile-image-first prd-block--prv-right js-prd-gallery"
                     id="prdGallery100">
                    <div class="col-md-6 col-xl-5">
                        <div class="prd-block_info js-prd-m-holder mb-2 mb-md-0"></div><!-- Product Gallery -->
                        <div class="prd-block_main-image main-image--slide js-main-image--slide">
                            <div class="prd-block_main-image-holder js-main-image-zoom" data-zoomtype="inner">
                                <div class="prd-block_main-image-video js-main-image-video">
                                    <video loop muted preload="metadata" controls="controls">
                                        <source src="#">
                                    </video>
                                    <div class="gdw-loader"></div>
                                </div>
                                <div class="prd-has-loader">
                                    <div class="gdw-loader"></div>
                                    <img src="/media/{{ products.imagen }}" class="zoom" alt=""
                                         data-zoom-image="/media/{{ products.imagen }}">
                                </div>
                                <div class="prd-block_main-image-next slick-next js-main-image-next">NEXT</div>
                                <div class="prd-block_main-image-prev slick-prev js-main-image-prev">PREV</div>
                            </div>
                            <div class="prd-block_main-image-links">
                                <a data-fancybox data-width="900">
                                </a> <a href="/media/{{ products.imagen }}" class="prd-block_zoom-link">
                                <i class="icon icon-zoomin"></i></a>
                            </div>
                        </div>
                        <div class="product-previews-wrapper">
                            <div class="product-previews-carousel" id="previewsGallery100">
                                <a href="#" data-value="Silver" data-image="/media/{{ products.imagen }}"
                                   data-zoom-image="/media/{{ products.imagen }}">
                                    <img src="/media/{{ products.imagen }}" alt=""></a>

                                {% if products.youtube %}
                                    <a href="#" data-video="/media/{{ products.youtube }}">
                                        <img src="/media/{{ products.imagen }}" alt="">
                                    </a>
                                {% else %}
                                {% endif %}

                                {% if products.imagen_2 %}
                                    <a href="#" data-value="Silver" data-image="/media/{{ products.imagen_2 }}"
                                       data-zoom-image="/media/{{ products.imagen_2 }}">
                                        <img src="/media/{{ products.imagen_2 }}" alt="">
                                    </a>
                                {% else %}
                                {% endif %}

                                {% if products.imagen_3 %}
                                    <a href="#" data-value="Silver" data-image="/media/{{ products.imagen_3 }}"
                                       data-zoom-image="/media/{{ products.imagen_3 }}">
                                        <img src="/media/{{ products.imagen_3 }}" alt="">
                                    </a>
                                {% else %}
                                {% endif %}

                                {% if products.imagen_4 %}
                                    <a href="#" data-value="Silver" data-image="/media/{{ products.imagen_4 }}"
                                       data-zoom-image="/media/{{ products.imagen_4 }}">
                                        <img src="/media/{{ products.imagen_4 }}" alt="">
                                    </a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- /Product Gallery -->
                    </div>

                    <!-- /Product Gallery -->
                    <div class="col-md">
                        <div class="prd-block_info">
                            <div class="js-prd-d-holder prd-holder">
                                <div class="prd-block_title-wrap">
                                    <h1 class="prd-block_title">{{ products.titulo }}</h1>
                                    {% if products.new %}
                                        <span class="prd-label--new">Nuevo</span> &nbsp; &nbsp;
                                    {% else %}
                                    {% endif %}
                                    {% if products.offer %}
                                        <span class="prd-label--sale"
                                              style="color: #0c5460; border-color: #0c5460">Promo</span>
                                    {% else %}
                                    {% endif %}

                                </div>
                                <div class="prd-block_info-top">
                                    <div class="product-sku">Colección:
                                        <a href="/vortice/seccion/{{ products.prenda.coleccion.seccion.seccion }}/coleccion/{{ products.prenda.coleccion.tema }}"><span>{{ products.prenda.coleccion }}</span>
                                        </a>
                                    </div>
                                    <div class="prd-rating"><i class="icon-star fill"></i><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i><i class="icon-star fill"></i><i
                                            class="icon-star fill"></i>
                                        <span>10 reseña</span></div>
                                    {% if products.stock %}
                                        <div class="prd-availability">Disponibilidad: <span>si</span></div>
                                    {% else %}
                                        <span class="prd-label--sale"
                                              style="color: #c82333; border-color: #c82333">Agotado</span>
                                    {% endif %}

                                </div>

                                <div class="prd-block_description topline">
                                    <p>{{ products.descripcion }}</p>
                                </div>
                            </div>
                            <div class="prd-block_options topline">

                                <div class="prd-size swatches"><span class="option-label">Tallas:</span>

                                    <ul class="size-list js-size-list">
                                        {% if products.T_24 %}
                                            <li class=""><a href="#" data-value="24"><span class="value">24</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_26 %}
                                            <li class=""><a href="#" data-value="26"><span class="value">26</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_28 %}
                                            <li class=""><a href="#" data-value="28"><span class="value">28</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_30 %}
                                            <li class=""><a href="#" data-value="30"><span class="value">30</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_32 %}
                                            <li class=""><a href="#" data-value="32"><span class="value">32</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_34 %}
                                            <li class=""><a href="#" data-value="34"><span class="value">34</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_36 %}
                                            <li class=""><a href="#" data-value="36"><span class="value">36</span></a>
                                        {% else %}
                                        {% endif %}


                                        {% if products.T_38 %}
                                            <li class=""><a href="#" data-value="38"><span class="value">38</span></a>
                                        {% else %}
                                        {% endif %}

                                        {% if products.T_40 %}
                                            <li class=""><a href="#" data-value="40"><span class="value">40</span></a>
                                        {% else %}
                                        {% endif %}
                                    </ul>

                                </div>

                            </div>
                            <div class="prd-block_actions topline">
                                {% if products.offer %}
                                    <div class="prd-block_price"><span
                                            class="prd-block_price--actual">$ {{ products.precio_oferta }}</span>
                                        <span class="prd-block_price--old">$ {{ products.precio }}</span>
                                    </div>
                                {% else %}
                                    <div class="prd-block_price">
                                        <span class="prd-block_price--actual">$ {{ products.precio }}</span>
                                    </div>
                                {% endif %}
                                <div class="btn-wrap">
                                    <a href="https://api.whatsapp.com/send?phone=593{{ vortice.celular }}&text=Hola%20Me%20interesa%20un%20producto  www.grupo-benitez.com/vortice/producto_detalle/{{ products.id }}/  "
                                       target="_blank" rel="noopener">
                                        <button class="btn btn--add-to-cart">
                                            <i class="icon icon-handbag"></i>
                                            <span>Realiza tu pedido</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mt-3 mt-xl-0 sidebar-product">
                        <div class="shop-features-style4">
                            <a href="https://grupo-benitez.com/vortice/producto_detalle/{{ products.id }}/"
                               data-layout="button_count" data-size="small"><a target="_blank"
                                                                               href="https://www.facebook.com/sharer/sharer.php?u=https//grupo-benitez.com/vortice/producto_detalle{{ products.id }&amp;src=sdkpreparse"
                                                                               class="shop-feature">
                                <div class="shop-feature-icon">
                                    <i class="icon-facebook"></i>
                                </div>
                                <div class="shop-feature-text">
                                    <div class="text1">Compartir en Facebook</div>
                                </div>
                            </a></a>

                            <a href="whatsapp://send?text=https://grupo-benitez.com/vortice/producto_detalle/{{ products.id }}/"
                               data-action="share/whatsapp/share" class="shop-feature">
                                <div class="shop-feature-icon">
                                    <i class="icon-chat"></i>
                                </div>
                                <div class="shop-feature-text">
                                    <div class="text1">Compartir en Whatsapp</div>
                                </div>
                            </a>

                            <a href="tel:{{ vortice.celular }}" class="shop-feature">
                                <div class="shop-feature-icon">
                                    <i class="icon-call"></i>
                                </div>
                                <div class="shop-feature-text">
                                    <div class="text1">Contactanos</div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>


            {% if products.activar_camisetas %}

                <div class="holder">
                    <br>
                    <div class="container">
                        <div class="row vert-margin">
                            <div style="text-align: center" class="col-md-6 ">
                                <h2>Detalle sobre tallas</h2>
                                {% if products.camiseta_cuello_o %}
                                    <img src="/media/{{ camiseta_imagen_deta.imagen_cuello_o }}"
                                         style="max-width: 100%;  width: 80%; text-align: center">
                                {% endif %}
                                {% if products.camiseta_cuello_v_hombre_nene %}
                                    <img src="/media/{{ camiseta_imagen_deta.imagen_cuello_v_hombre }}"
                                         style="max-width: 100%;  width: 80%; text-align: center">
                                {% endif %}
                                {% if products.camiseta_cuello_v_mujer_nena %}
                                    <img src="/media/{{ camiseta_imagen_deta.imagen_cuello_v_mujer }}"
                                         style="max-width: 100%;  width: 80%; text-align: center">
                                {% endif %}

                            </div>
                            <div class="col-md-6">
                                <div class="panel-group" id="productAccordion">
                                    <div class="panel">
                                        <div class="panel-heading active">
                                            <h4 style="text-align: center" class="panel-title"><a
                                                    data-toggle="collapse"
                                                    data-parent="#productAccordion"
                                                    href="#collapse1">GUÍA
                                                DE TALLAS</a></h4>
                                            {% if products.camiseta_cuello_o %}
                                                <p>{{ camiseta_imagen_deta.detalle_cuello_o }}</p>
                                            {% endif %}
                                            {% if products.camiseta_cuello_v_hombre_nene %}
                                                <p>{{ camiseta_imagen_deta.detalle_cuello_v_hombre }}</p>
                                            {% endif %}
                                            {% if products.camiseta_cuello_v_mujer_nena %}
                                                <p>{{ camiseta_imagen_deta.detalle_cuello_v_mujer }}</p>
                                            {% endif %}

                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table--size">
                                                        <tbody>
                                                        <br><br>
                                                        <tr>
                                                            <th style="text-align: center" scope="row">Tallas</th>
                                                            <td>Espalda</td>
                                                            <td>Ancho</td>
                                                            <td>Alto</td>
                                                        </tr>

                                                        {% if products.camiseta_talla_hombre %}
                                                            {% if products.camiseta_cuello_o %}
                                                                {% for talla in camiseta_talla_hombre %}
                                                                    {% if talla.cuello_redondo %}
                                                                        <tr>
                                                                            <th scope="row">Talla: &nbsp; &nbsp;
                                                                                <strong>{{ talla.talla }}</strong></th>
                                                                            <td>{{ talla.espalda }}</td>
                                                                            <td>{{ talla.ancho }}</td>
                                                                            <td>{{ talla.alto }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if products.camiseta_cuello_v_hombre_nene %}
                                                                {% for talla in camiseta_talla_hombre %}
                                                                    {% if talla.cuello_v %}
                                                                        <tr>
                                                                            <th scope="row">Talla: &nbsp; &nbsp;
                                                                                <strong>{{ talla.talla }}</strong></th>
                                                                            <td>{{ talla.espalda }}</td>
                                                                            <td>{{ talla.ancho }}</td>
                                                                            <td>{{ talla.alto }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if products.camiseta_talla_mujer %}
                                                            {% if products.camiseta_cuello_o %}
                                                                {% for talla in camiseta_talla_mujer %}
                                                                    {% if talla.cuello_redondo %}
                                                                        <tr>
                                                                            <th scope="row">Talla: &nbsp; &nbsp;
                                                                                <strong>{{ talla.talla }}</strong></th>
                                                                            <td>{{ talla.espalda }}</td>
                                                                            <td>{{ talla.ancho }}</td>
                                                                            <td>{{ talla.alto }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if products.camiseta_cuello_v_mujer_nena %}
                                                                {% for talla in camiseta_talla_mujer %}
                                                                    {% if talla.cuello_v %}
                                                                        <tr>
                                                                            <th scope="row">Talla: &nbsp; &nbsp;
                                                                                <strong>{{ talla.talla }}</strong></th>
                                                                            <td>{{ talla.espalda }}</td>
                                                                            <td>{{ talla.ancho }}</td>
                                                                            <td>{{ talla.alto }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endif %}


                                                        {% if products.camiseta_talla_nene %}
                                                            {% if products.camiseta_cuello_o %}
                                                                {% for talla in camiseta_talla_nene %}
                                                                    {% if talla.cuello_redondo %}
                                                                        <tr>
                                                                            <th scope="row">Talla: &nbsp; &nbsp;
                                                                                <strong>{{ talla.talla }}</strong></th>
                                                                            <td>{{ talla.espalda }}</td>
                                                                            <td>{{ talla.ancho }}</td>
                                                                            <td>{{ talla.alto }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if products.camiseta_cuello_v_hombre_nene %}
                                                                {% for talla in camiseta_talla_nene %}
                                                                    {% if talla.cuello_v %}
                                                                        <tr>
                                                                            <th scope="row">Talla: &nbsp; &nbsp;
                                                                                <strong>{{ talla.talla }}</strong></th>
                                                                            <td>{{ talla.espalda }}</td>
                                                                            <td>{{ talla.ancho }}</td>
                                                                            <td>{{ talla.alto }}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            {% endif %}


            <div style="align-content: center">
                {% if products.wallpapers %}
                    <!-- banner from the editor Banner32 -->
                    <div class="bnr bnr32 bnr--style-1-6 bnr--left bnr--middle ">
                        <img src="/media/{{ products.wallpapers }}" alt=""></div>
                    <!-- //banner from the editor Banner32 -->
                {% else %}
                {% endif %}
            </div>

            <div class="gallery-wrapper">
                <div class="gallery gallery--style-1 js-gallery-isotope" style="position: relative; height: 1012.78px;">
                    {% if products.galeria_producto_1 %}
                        <div class="gallery-item category3 category1" style="position: absolute; left: 0%; top: 0px;">
                            <div class="gallery-item-image has-loader loaded"><img
                                    src="/media/{{ products.galeria_producto_1 }}" alt="">
                                <div class="gdw-loader"></div>
                            </div>

                            <div class="gallery-item-links"><a href="/media/{{ products.galeria_producto_1 }}"
                                                               class="gallery-item-link" data-fancybox="gallery"
                                                               data-caption="{{ products.titulo }}"><i
                                    class="icon-search2"></i></a> <a href="#" class="gallery-item-link"><i
                                    class="icon-angle-right"></i></a></div>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if products.galeria_producto_2 %}
                        <div class="gallery-item category2" style="position: absolute; left: 33.307%; top: 0px;">
                            <div class="gallery-item-image has-loader loaded"><img
                                    src="/media/{{ products.galeria_producto_2 }}" alt="">
                                <div class="gdw-loader"></div>
                            </div>

                            <div class="gallery-item-links"><a href="/media/{{ products.galeria_producto_2 }}"
                                                               class="gallery-item-link" data-fancybox="gallery"
                                                               data-caption="{{ products.titulo }}"><i
                                    class="icon-search2"></i></a> <a href="#" class="gallery-item-link"><i
                                    class="icon-angle-right"></i></a></div>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if products.galeria_producto_3 %}
                        <div class="gallery-item category1" style="position: absolute; left: 66.614%; top: 0px;">
                            <div class="gallery-item-image has-loader loaded"><img
                                    src="/media/{{ imagen_producto.galeria_producto_3 }}" alt="">
                                <div class="gdw-loader"></div>
                            </div>

                            <div class="gallery-item-links"><a href="/media/{{ products.galeria_producto_3 }}"
                                                               class="gallery-item-link" data-fancybox="gallery"
                                                               data-caption="{{ products.titulo }}"><i
                                    class="icon-search2"></i></a> <a href="#" class="gallery-item-link"><i
                                    class="icon-angle-right"></i></a></div>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if products.galeria_producto_4 %}
                        <div class="gallery-item category2 category3" style="position: absolute; left: 0%; top: 506px;">
                            <div class="gallery-item-image has-loader loaded"><img
                                    src="/media/{{ products.galeria_producto_4 }}" alt="">
                                <div class="gdw-loader"></div>
                            </div>

                            <div class="gallery-item-links"><a href="/media/{{ products.galeria_producto_4 }}"
                                                               class="gallery-item-link" data-fancybox="gallery"
                                                               data-caption="{{ products.titulo }}"><i
                                    class="icon-search2"></i></a> <a href="#" class="gallery-item-link"><i
                                    class="icon-angle-right"></i></a></div>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if products.galeria_producto_5 %}
                        <div class="gallery-item category2" style="position: absolute; left: 33.307%; top: 506px;">
                            <div class="gallery-item-image has-loader loaded"><img
                                    src="/media/{{ products.galeria_producto_5 }}" alt="">
                                <div class="gdw-loader"></div>
                            </div>

                            <div class="gallery-item-links"><a href="/media/{{ products.galeria_producto_5 }}"
                                                               class="gallery-item-link" data-fancybox="gallery"
                                                               data-caption="{{ products.titulo }}"><i
                                    class="icon-search2"></i></a> <a href="#" class="gallery-item-link"><i
                                    class="icon-angle-right"></i></a></div>
                        </div>
                    {% else %}
                    {% endif %}

                    {% if products.galeria_producto_6 %}
                        <div class="gallery-item category1" style="position: absolute; left: 66.614%; top: 506px;">
                            <div class="gallery-item-image has-loader loaded"><img
                                    src="/media/{{ imagen_producto.galeria_producto_6 }}" alt="">
                                <div class="gdw-loader"></div>
                            </div>

                            <div class="gallery-item-links"><a href="/media/{{ products.galeria_producto_6 }}"
                                                               class="gallery-item-link" data-fancybox="gallery"
                                                               data-caption="{{ products.titulo }}"><i
                                    class="icon-search2"></i></a> <a href="#" class="gallery-item-link"><i
                                    class="icon-angle-right"></i></a></div>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>

            <div style="text-align: center">
                <br>
                <a href="/vortice/seccion/{{ products.prenda.coleccion.seccion.seccion }}" class="btn btn--animate btn--lg"><i
                        class="icon-return">&nbsp;</i>Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

