{% extends 'vortice/index_vortice.html' %}
{% block principal %}
    <!-- page-title -->
    <div class="tf-page-title">
        <div class="container-full">
            <div class="heading text-center">Coleccion -  {{ colecciones_id.tema_colec }} </div>
            <h4 style="text-align: center !important;">{{ colecciones_id.cliente.cliente }} </h4>
            <p class="text-center text-2 text_black-2 mt_5">Compre entre nuestra última selección de moda.

            </p>
        </div>
    </div>
    <!-- /page-title -->
    <!-- Collection -->
    <section class="flat-spacing-3 pb_0">
        <div class="container">
            <div class="hover-sw-nav">
                <div class="swiper tf-sw-collection" data-preview="5" data-tablet="3" data-mobile="2" data-space-lg="30"
                     data-space-md="30" data-space="15" data-loop="false" data-auto-play="false">
                    <div class="swiper-wrapper">
                        {% for tipo_articulo in tipo_articulos %}
                        <div class="swiper-slide" lazy="true">
                        <div class="collection-item style-2 hover-img">
                            <div class="collection-inner">
                                <a href="/vortice/seccion/{{tipo_articulo.coleccion.cliente.cliente}}/coleccion/{{tipo_articulo.coleccion.tema_colec}}/prenda/{{tipo_articulo.nombre_articulo}}/" class="collection-image img-style">
                                    <img class="lazyload" data-src="/media/{{ tipo_articulo.imagen_articulo }}" src="/media/{{ tipo_articulo.imagen_articulo }}" alt="collection-img">
                                </a>
                                <div class="collection-content">
                                    <a href="/vortice/seccion/{{tipo_articulo.coleccion.cliente.cliente}}/coleccion/{{tipo_articulo.coleccion.tema_colec}}/prenda/{{tipo_articulo.nombre_articulo}}/" class="tf-btn collection-title hover-icon fs-15"><span>{{ tipo_articulo.nombre_articulo }}</span><i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    {% endfor %}
                    </div>
                </div>
                <div class="nav-sw nav-next-slider nav-next-collection box-icon w_46 round"><span
                        class="icon icon-arrow-left"></span></div>
                <div class="nav-sw nav-prev-slider nav-prev-collection box-icon w_46 round"><span
                        class="icon icon-arrow-right"></span></div>
                <div class="sw-dots style-2 sw-pagination-collection justify-content-center"></div>
            </div>
        </div>
    </section>
    <!-- /Collection -->


{% endblock %}
