{% extends 'niska/index_niska.html' %}
{% load static %}

{% block menu %}
    <li><a href="/niska/" class="nav-link">Inicio</a></li>
    <li><a href="/niska/empresa/" class="nav-link active">Nosotros</a></li>
    <li><a href="/niska/productos/" class="nav-link">Productos</a></li>
    <li><a href="/niska/contacto/" class="nav-link">Contacto</a></li>
{% endblock %}

<div role="main" class="main">

    {% block content %}

    <div class="container pb-xl-5">

        <br><br>

        <!-- BLOQUE 1 -->
        <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">

            <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">

                <div class="custom-svg-wrapper-1 px-5">

                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px"
                         y="0px"
                         viewBox="0 0 687 673"
                         data-plugin-float-element-svg="true">

                        <g class="d-none d-md-block"
                           data-plugin-float-element
                           data-plugin-options="{'startPos':'top','speed':0.2,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                            <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="589" cy="216" r="27"/>
                            <circle fill="#FFF" cx="588.5" cy="216.5" r="24.5"/>
                        </g>

                        <g class="d-none d-lg-block"
                           data-plugin-float-element
                           data-plugin-options="{'startPos':'bottom','speed':0.3,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                            <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="128" cy="609" r="17"/>
                            <circle fill="#FFF" cx="127.69" cy="609.31" r="15.43"/>
                        </g>

                        <g opacity="0.7"
                           data-plugin-float-element
                           data-plugin-options="{'startPos':'bottom','speed':0.3,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                            <circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="148" cy="64.5" r="14.5"/>
                            <circle fill="#FFF" cx="148.27" cy="64.77" r="13.16"/>
                        </g>

                    </svg>

                    <div data-plugin-float-element
                         data-plugin-options="{'startPos':'top','speed':0.1,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                        <img src="/media/{{ editable.empr_imagen }}"
                             class="img-fluid position-relative z-index-1 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="1100"
                             alt="">
                    </div>

                </div>

            </div>

            <div class="col-lg-6 text-center">

                <h2 class="font-weight-bold text-10 appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="400">
                    {{ editable.empr_titulo }}
                </h2>

                <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                   data-appear-animation="fadeInUpShorter"
                   data-appear-animation-delay="800">
                    {{ editable.empr_detalle }}
                </p>

            </div>

        </div>


        <!-- BLOQUE 2 -->
        <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">

            <div class="col-lg-6 text-center">

                <h2 class="font-weight-bold text-10 appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="400">
                    {{ editable.empr_titulo2 }}
                </h2>

                <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                   data-appear-animation="fadeInUpShorter"
                   data-appear-animation-delay="800">
                    {{ editable.empr_detalle2 }}
                </p>

            </div>

            <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">

                <div class="custom-svg-wrapper-1 px-5">

                    <div data-plugin-float-element
                         data-plugin-options="{'startPos':'top','speed':0.1,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                        <img src="/media/{{ editable.empr_imagen2 }}"
                             class="img-fluid position-relative z-index-1 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="1100"
                             alt="">
                    </div>

                </div>

            </div>

        </div>


        <!-- BLOQUE 3 -->
        <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">

            <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">

                <div class="custom-svg-wrapper-1 px-5">

                    <div data-plugin-float-element
                         data-plugin-options="{'startPos':'top','speed':0.1,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                        <img src="/media/{{ editable.empr_imagen3 }}"
                             class="img-fluid position-relative z-index-1 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="1100"
                             alt="">
                    </div>

                </div>

            </div>

            <div class="col-lg-6 text-center">

                <h2 class="font-weight-bold text-10 appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="400">
                    {{ editable.empr_titulo3 }}
                </h2>

                <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                   data-appear-animation="fadeInUpShorter"
                   data-appear-animation-delay="800">
                    {{ editable.empr_detalle3 }}
                </p>

            </div>

        </div>

    </div>

    {% endblock %}

</div>