{% extends 'niska/index_niska.html' %}
{% load static %}

{% block menu %}
    <li><a href="/niska/" class="nav-link">Inicio</a></li>
    <li><a href="/niska/empresa/" class="nav-link active">Nosotros</a></li>
    <li><a href="/niska/productos/" class="nav-link">Productos</a></li>
    <li><a href="/niska/contacto/" class="nav-link">Contacto</a></li>
{% endblock %}

<div role="main" class="main">

    {% block content %}

    <div class="container pb-xl-5">

        <br><br>

        <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">

            <!-- IMAGEN -->
            <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">

                <div class="custom-svg-wrapper-1 px-5">

                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px"
                         y="0px"
                         viewBox="0 0 687 673"
                         data-plugin-float-element-svg="true">

                        <g class="d-none d-md-block"
                           data-plugin-float-element
                           data-plugin-options="{'startPos':'top','speed':0.2,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                            <circle class="custom-svg-fill-color-secondary"
                                    fill="#4F4BFC"
                                    cx="589"
                                    cy="216"
                                    r="27" />
                            <circle fill="#FFF"
                                    cx="588.5"
                                    cy="216.5"
                                    r="24.5" />
                        </g>

                        <g class="d-none d-lg-block"
                           data-plugin-float-element
                           data-plugin-options="{'startPos':'bottom','speed':0.3,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                            <circle class="custom-svg-fill-color-secondary"
                                    fill="#4F4BFC"
                                    cx="128"
                                    cy="609"
                                    r="17" />
                            <circle fill="#FFF"
                                    cx="127.69"
                                    cy="609.31"
                                    r="15.43" />
                        </g>

                        <g opacity="0.7"
                           data-plugin-float-element
                           data-plugin-options="{'startPos':'bottom','speed':0.3,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">
                            <circle class="custom-svg-fill-color-primary"
                                    fill="#0088CC"
                                    cx="148"
                                    cy="64.5"
                                    r="14.5" />
                            <circle fill="#FFF"
                                    cx="148.27"
                                    cy="64.77"
                                    r="13.16" />
                        </g>

                    </svg>

                    <div data-plugin-float-element
                         data-plugin-options="{'startPos':'top','speed':0.1,'isInsideSVG':true,'transition':true,'transitionDuration':2000}">

                        <img src="/media/{{ editable.contac_imagen }}"
                             class="img-fluid position-relative z-index-1 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="1100"
                             alt="" />

                    </div>

                </div>

            </div>

            <!-- INFORMACIÓN -->
            <div class="col-lg-6" style="text-align: center;">

                <section class="section bg-color-light position-relative border-0">

                    <div class="container" style="margin-top: -100px!important;">

                        <div class="row justify-content-center">

                            <div class="col-md-10 col-lg-6">

                                <!-- Dirección -->
                                <div class="feature-box align-items-center mb-4 pb-1 appear-animation"
                                     data-appear-animation="fadeInUpShorter"
                                     data-appear-animation-delay="1800">

                                    <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-quaternary top-0">
                                        <i class="icon-arrow-right icons position-relative"></i>
                                    </div>

                                    <div class="feature-box-info">
                                        <h4 class="font-weight-bold line-height-1 custom-font-size-1 mb-1">
                                            Dirección
                                        </h4>
                                        <p class="mb-0">{{ marca.direccion }}</p>
                                    </div>

                                </div>

                                <!-- Celular -->
                                <div class="feature-box align-items-center mb-4 pb-1 appear-animation"
                                     data-appear-animation="fadeInUpShorter"
                                     data-appear-animation-delay="2000">

                                    <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-primary top-0">
                                        <i class="icon-call-in icons position-relative top-2 right-1"></i>
                                    </div>

                                    <div class="feature-box-info">
                                        <h4 class="font-weight-bold line-height-1 custom-font-size-1 mb-1">
                                            Celular
                                        </h4>
                                        <p class="mb-0">
                                            <a href="tel:{{ marca.celular }}"
                                               class="custom-text-color-grey-1">
                                                {{ marca.celular }}
                                            </a>
                                        </p>
                                    </div>

                                </div>

                                <!-- WhatsApp -->
                                <div class="feature-box align-items-center mb-4 pb-1 appear-animation"
                                     data-appear-animation="fadeInUpShorter"
                                     data-appear-animation-delay="2200">

                                    <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-secondary top-0">
                                        <i class="icon-envelope icons position-relative top-1"></i>
                                    </div>

                                    <div class="feature-box-info">
                                        <h4 class="font-weight-bold line-height-1 custom-font-size-1 mb-1">
                                            WhatsApp
                                        </h4>
                                        <p class="mb-0">
                                            <a href="https://api.whatsapp.com/send?phone=593{{ marca.whatsapp }}&text=Hola%20%20Delifrus"
                                               target="_blank"
                                               rel="noopener">
                                                {{ marca.whatsapp }}
                                            </a>
                                        </p>
                                    </div>

                                </div>

                                <!-- Email -->
                                <div class="feature-box align-items-center mb-4 pb-1 appear-animation"
                                     data-appear-animation="fadeInUpShorter"
                                     data-appear-animation-delay="2200">

                                    <div class="feature-box-icon custom-feature-box-icon-size-1 bg-color-quaternary top-0">
                                        <i class="icon-envelope icons position-relative top-1"></i>
                                    </div>

                                    <div class="feature-box-info">
                                        <h4 class="font-weight-bold line-height-1 custom-font-size-1 mb-1">
                                            E-mail
                                        </h4>

                                        <p class="mb-0">
                                            <a href="mailto: {{ marca.correo }}"
                                               class="custom-text-color-grey-2">
                                                {{ marca.correo }}
                                            </a>
                                        </p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

    {% endblock %}

</div>