{% extends 'colexin/demo-decor-store.html' %}
{% block metas %}
        <meta property="og:url" content="http://www.grupo/benitez.com/vortice/"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ products.nombre_produc}}"/>
        <meta property="og:description" content="{{ products.descripcion_produc}}"/>
        <meta property="og:image" content="http://www.benitez-ec.com/media/{{ products.imagen_produc_01 }}"/>
        <meta property="og:image:width" content="600"/>
        <meta property="og:image:height" content="600"/>
{% endblock %}
{% block principal %}



<!-- start section -->
<section  style="margin-top: 200px! important" id="tienda" class="pt-0 ps-6 pe-6 lg-ps-2 lg-pe-2 sm-ps-0 sm-pe-0">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-xxl-10 col-lg-10 ps-5 md-ps-15px md-mb-60px">
                <ul class="shop-modern shop-wrapper grid-loading grid grid-5col xl-grid-4col sm-grid-2col xs-grid-1col gutter-extra-large text-center" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <li class="grid-sizer"></li>
                    {% for  product in productos %}
                        <!-- start shop item -->
                        <li class="grid-item">
                            <div class="shop-box mb-10px">
                                <div class="shop-image mb-20px">
                                    <a href="/colexin/producto/{{product.id}}">
                                        <img src="/media/{{product.img_1}}" alt="">
                                        <span class="lable new">New</span>
                                        <div class="shop-overlay bg-gradient-gray-light-dark-transparent"></div>
                                    </a>
                                    <div class="shop-buttons-wrap">
                                        <a href="/colexin/producto/{{product.id}} " class="alt-font btn btn-small btn-box-shadow btn-white btn-round-edge left-icon add-to-cart">
                                            <i class="feather icon-feather-shopping-bag"></i><span class="quick-view-text button-text">Ver Producto</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="shop-footer text-center">
                                    <a href="/colexin/product/{{product.id}}" class="alt-font text-dark-gray fs-19 fw-500"> {{product.titulo_producto}}</a>
                                    <div class="price lh-22 fs-16">Lote: 00{{product.id}} </div>
                                    <div class="price lh-22 fs-16">${{product.precio}}</div>
                                </div>
                            </div>
                        </li>
                        <!-- end shop item -->
                    {% endfor %}

                </ul>
            </div>
            <div class="col-xxl-2 col-lg-2 shop-sidebar" data-anime='{ "el": "childs", "translateY": [-15, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="mb-30px">
                    <div class="container" style="padding-top: -50px !important;">
                                <span class="alt-font fw-500 fs-19 text-dark-gray d-block mb-10px">Buscar.</span>
                                <form role="search" action="/colexin/buscar/" method="get">
                                    <div class="input-group mb-3 pb-1">
                                        <input class=" graphik-regular form-control text-1" id="headerSearch" name="q" type="search"
                                               value="{{ request.GET.q }}"
                                               placeholder="¿Qué necesitas?">
                                        <button type="submit" class="btn btn-primary text-1 p-2">
                                            <i class="fas fa-search m-2" style="color: #efefef"></i>
                                        </button>
                                    </div>
                                </form>

                        <span class="alt-font fw-500 fs-19 text-dark-gray d-block mb-10px">Filtrar por categorías</span>
                        <ul class="shop-filter category-filter fs-16">
                            {% for tipo in tipo_producto %}
                            <li><a href="/colexin/tienda/{{ tipo.id }}"><span class="product-cb product-category-cb"></span>{{tipo.tipo}}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

{% endblock %}


